<launch>
  
  <node pkg="creative_interactive_gesture_camera" type="main" name="depth_cam" respawn="false"  required="true" launch-prefix="xterm -e gdb --args">
    <remap from="/points2" to="/depth_registered/pointsRGB" /> <!-- output -->
    <remap from="/points_xyz" to="/camera/depth/image_raw" /> <!-- output -->
    <remap from="/rgb_data" to="/camera/rgb/image_raw"/> <!-- output -->
    <remap from="/camera_info" to="/camera/rgb/camera_info" /> <!-- output -->
    <remap from="/mono_data" to="/camera/mono/image_raw" /> <!-- output -->
    <remap from="/depth_info" to="/camera/depth/camera_info" /> <!-- output -->
    <remap from="/cloud_image" to="/camera/depth/points/image_raw" /> <!-- coutput -->
  </node>
  
  <!--<node pkg="creative_interactive_gesture_camera" type="main2" name="pose_estimate" respawn="false" >
    <remap from="/points2" to="/depth_registered/points" /> --> <!-- input -->
 <!-- </node> -->
  
  <node pkg="creative_interactive_gesture_camera" type="camera_sync" name="camera_sync" respawn="false"  required="true">
    <remap from="/rgb_image" to="/camera/rgb/image_raw" /> <!-- input -->
    <remap from="/camera_info" to="/camera/rgb/camera_info" /> <!-- input -->
    <remap from="/point_cloud" to="/depth_registered/pointsRGB" /> <!-- input -->
    <remap from="/points2_image" to="/depth_registered/points_imageRGB" /> <!-- output -->
  </node>
  
  <node pkg="nodelet" type="nodelet" name="rgb_proc_nodelet" 
        args="standalone image_proc/crop_decimate camera:=camera camera_out:=rgb_downsampled">
  </node>
  
  <node pkg="dynamic_reconfigure" type="dynparam" name="reconfig_x" 
        args="set /rgb_proc_nodelet decimation_x 4">
  </node>
  
  <node pkg="dynamic_reconfigure" type="dynparam" name="reconfig_y" 
        args="set /rgb_proc_nodelet decimation_y 3">
  </node> 
  
  <node pkg="nodelet" type="nodelet" name="mono_proc_nodelet" 
        args="standalone image_proc/crop_decimate camera:=mono camera_out:=mono_downsampled">
  </node>
  
  <node pkg="dynamic_reconfigure" type="dynparam" name="reconfig_monox" 
        args="set /mono_proc_nodelet decimation_x 4">
  </node>
  
  <node pkg="dynamic_reconfigure" type="dynparam" name="reconfig_monoy" 
        args="set /mono_proc_nodelet decimation_y 3">
  </node>
  
  
</launch>
